<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body {% block imagemfundo %} {% endblock %}>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">
        <img class="icone-roxo" src="../static/img/icons/dog-solid.svg" alt="dog-solid"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}" style="color: #8457ff; font-weight: bold;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('machos')}}">
              <img class="icone-roxo" src="../static/img/icons/mars-solid.svg" alt="mars-solid"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('femeas')}}">
              <img class="icone-roxo" src="../static/img/icons/venus-solid.svg" alt="venus-solid"/>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #8457ff; font-weight: bold;">
              Encontre o Amor do Seu Pet
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('machos')}}" style="color: #8457ff; font-weight: bold;">Machos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('femeas')}}" style="color: #8457ff; font-weight: bold;">Fêmeas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('contato')}}">
              <img class="icone-roxo" src="../static/img/icons/email-solid.svg" alt="email-solid"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('contato')}}" style="color: #8457ff; font-weight: bold;">Entre em Contato</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('recados')}}">
              <img class="icone-roxo" src="../static/img/icons/heart-solid.svg" alt="heart-solid"/>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('recados')}}" style="color: #8457ff; font-weight: bold;">Recados</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

    {% block content %} {% endblock %}

    <footer>
        <h3><br>&copy; 2023 - Todos os direitos reservados | paresdepatasperfeitos.com.br | Desenvolvido por: Joniel R. de Oliveira<br></h3>
    </footer>

    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>