{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block imagemfundo %} 
    class="imgfundo"
{% endblock %}

{% block content %} 
    <main>
        
        <article>
            <h1 class="titulo-centralizado">
                <img class="icone-roxo" src="../static/img/icons/paw-solid-1.svg" alt="paw-solid-1"/>
                Bem-vindo(a) ao Pares de Patas Perfeitos (3P)!
                <img class="icone-roxo" src="../static/img/icons/paw-solid-1.svg" alt="paw-solid-1"/>
            </h1>
            <h3 class="titulo-centralizado">O Seu Espaço para Encontros Caninos</h3>
        </article>

        <figure>
            <img id="imagem-home-1" src="../static/img/home-img1.png" alt="home-img1">
        </figure>
    
        <article>
            <h1>
                <img class="icone-roxo" src="../static/img/icons/paw-solid-1.svg" alt="paw-solid-1"/>
                Explore Perfis Encantadores:
            </h1>
            <p>Descubra uma variedade de perfis adoráveis, cada um com sua própria personalidade única. De brincalhões Huskies a carinhosos Beagles, há um amigo peludo para todos os gostos. Navegue pelos perfis para conhecer mais sobre cada pet - suas brincadeiras favoritas, passeios preferidos e até mesmo aquele truque especial que conquista corações.
            </p>
        </article>


        <figure>
            <img id="imagem-home-2" src="../static/img/home-img2.png" alt="home-img2">
        </figure>

        <article>
            <h1>
                <img class="icone-roxo" src="../static/img/icons/paw-solid-1.svg" alt="paw-solid-1"/>
                Conecte-se com Responsabilidade:
            </h1>
            <p>No 3P, a segurança e o bem-estar dos nossos amigos peludos são prioridade. Troque mensagens e informações de contato apenas com responsabilidade e respeito mútuo. Estamos aqui para promover encontros felizes e amizades duradouras.
            </p>
        </article>
        
        <figure>
            <img id="imagem-home-3" src="../static/img/home-img3.png" alt="home-img3">
        </figure>

        <article>
            <h1>
                <img class="icone-roxo" src="../static/img/icons/paw-solid-1.svg" alt="paw-solid-1"/>
                Como Funciona:
            </h1>
            <ol>
                <li>Explore Perfis: Descubra cãezinhos e cadelas encantadores na sua área.</li>
                <li>Leia Detalhes Adoráveis: Conheça suas personalidades, hobbies e interesses.</li>
                <li>Faça Contato: Se você encontrar um perfil que derrete seu coração, entre em contato para organizar um encontro animado!</li>
            </ol>
        </article>

        <figure>
            <img id="imagem-home-4" src="../static/img/home-img4.png" alt="home-img4">
        </figure>

        <article>
            <h1>
                <img class="icone-roxo" src="../static/img/icons/paw-solid-1.svg" alt="paw-solid-1"/>
                3P - Onde Encontros Felizes Acontecem!
            </h1>
            <p>Registre-se hoje e dê ao seu pet a chance de encontrar um amigo ou até mesmo um amor canino. Juntos, vamos construir uma comunidade de amizades peludas que durarão para sempre!
            </p>
        </article>


    </main>
{% endblock %}

