{% extends 'usuario.html' %}

{% block title %}Simba{% endblock %}

{% block flexmf %}class="flex-container-male"{% endblock %}

{% block imgpet1 %}src="../static/img/simba/simba-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/simba/simba-img2.png"{% endblock %}

{% block nomepet %}Simba King{% endblock %}
{% block tipopet %}Macho{% endblock %}
{% block idadepet %}5 anos{% endblock %}
{% block alturapet %}35 cm{% endblock %}
{% block racapet %}Pastor Alemão{% endblock %}
{% block corpet %}Preto e Vermelho{% endblock %}
{% block pelagempet %}Média{% endblock %}


{% block descricaopet %}Olá, sou o Simba, um Pastor Alemão de 5 anos cheio de energia e personalidade. Amo explorar novos lugares, especialmente trilhas na natureza. Tenho um coração leal e estou em busca de companheiros para compartilhar aventuras e carinho.{% endblock %}

{% block cidade %}Taubaté{% endblock %}
{% block tutor %}Lucas Silva{% endblock %}
{% block telefone %}(12) 97799-9911{% endblock %}
{% block email %}lucas.silva-1458@gmail.com{% endblock %}

{% block hrefmother %}href="{{url_for('machos')}}"{% endblock %} 
