{% extends 'usuario.html' %}

{% block title %}Katy{% endblock %}

{% block flexmf %}class="flex-container-female"{% endblock %}

{% block imgpet1 %}src="../static/img/katy/katy-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/katy/katy-img2.png"{% endblock %}

{% block nomepet %}Katy Perry{% endblock %}
{% block tipopet %}Fêmea{% endblock %}
{% block idadepet %}4 anos{% endblock %}
{% block alturapet %}25 cm{% endblock %}
{% block racapet %}Cocker{% endblock %}
{% block corpet %}Dourado{% endblock %}
{% block pelagempet %}Longa{% endblock %}


{% block descricaopet %}Olá, sou a Katy, uma Cocker Spaniel cheia de charme com 4 anos de idade! Tenho uma personalidade doce e adoro receber carinho. Brincar de pegar a bolinha é uma das minhas atividades favoritas, e estou sempre pronta para fazer novos amigos.{% endblock %}

{% block cidade %}São José dos Campos{% endblock %}
{% block tutor %}Pedro Moreira{% endblock %}
{% block telefone %}(12) 93344-5566{% endblock %}
{% block email %}pedro.moreira-1452@gmail.com{% endblock %}

{% block hrefmother %}href="{{url_for('femeas')}}"{% endblock %}
