{% extends 'usuario.html' %}

{% block title %}Bebel{% endblock %}

{% block flexmf %}class="flex-container-female"{% endblock %}

{% block imgpet1 %}src="../static/img/bebel/bebel-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/bebel/bebel-img2.png"{% endblock %}

{% block nomepet %}Bebel Carrara{% endblock %}
{% block tipopet %}Fêmea{% endblock %}
{% block idadepet %}3 anos{% endblock %}
{% block alturapet %}26 cm{% endblock %}
{% block racapet %}Akita Inu{% endblock %}
{% block corpet %}Branco e Laranja{% endblock %}
{% block pelagempet %}Média{% endblock %}


{% block descricaopet %}Olá, sou a Bebel, uma Akita Inu cheia de graça com 3 anos de idade! Tenho um temperamento gentil e sou leal aos meus amigos. Adoro explorar ambientes tranquilos e desfrutar de momentos de calma.{% endblock %}

{% block cidade %}Jacareí{% endblock %}
{% block tutor %}Beatriz Dias{% endblock %}
{% block telefone %}(12) 97733-1155{% endblock %}
{% block email %}beatriz.dias-8649@outlook.com{% endblock %}

{% block hrefmother %}href="{{url_for('femeas')}}"{% endblock %}
