{% extends 'usuario.html' %}

{% block title %}Spike{% endblock %}

{% block flexmf %}class="flex-container-male"{% endblock %}

{% block imgpet1 %}src="../static/img/spike/spike-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/spike/spike-img2.png"{% endblock %}

{% block nomepet %}Spike Lee{% endblock %}
{% block tipopet %}Macho{% endblock %}
{% block idadepet %}3 anos{% endblock %}
{% block alturapet %}30 cm{% endblock %}
{% block racapet %}Sem Raça Definida (SRD){% endblock %}
{% block corpet %}Caramelo{% endblock %}
{% block pelagempet %}Curta{% endblock %}


{% block descricaopet %}Sou um cachorro dócil, adoro correr pelas ruas junto com meus parceiros. Tenho hábitos noturnos, e sempre estou alerta com a movimentação da vizinhança.{% endblock %}

{% block cidade %}São José dos Campos{% endblock %}
{% block tutor %}João Paulo{% endblock %}
{% block telefone %}(12) 94455-6677{% endblock %}
{% block email %}joao.paulo-2023@outlook.com{% endblock %}

{% block hrefmother %}href="{{url_for('machos')}}"{% endblock %} 

