{% extends 'usuario.html' %}

{% block title %}Lady{% endblock %}

{% block flexmf %}class="flex-container-female"{% endblock %}

{% block imgpet1 %}src="../static/img/lady/lady-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/lady/lady-img2.png"{% endblock %}

{% block nomepet %}Lady Gaga{% endblock %}
{% block tipopet %}Fêmea{% endblock %}
{% block idadepet %}5 anos{% endblock %}
{% block alturapet %}32 cm{% endblock %}
{% block racapet %}Husky Siberiano{% endblock %}
{% block corpet %}Brando e Laranja{% endblock %}
{% block pelagempet %}Média{% endblock %}


{% block descricaopet %} Olá, sou a Lady, uma Husky Siberiano cheia de energia com 5 anos de idade! Tenho olhos expressivos e uma personalidade cativante. Adoro correr e explorar o mundo ao meu redor. Estou em busca de amigos peludos para compartilhar aventuras emocionantes e, é claro, momentos de brincadeiras na neve.{% endblock %}

{% block cidade %}Caçapava{% endblock %}
{% block tutor %}Leonardo Carvalho{% endblock %}
{% block telefone %}(12) 95544-9922{% endblock %}
{% block email %}leonardo.carvalho-2371@outlook.com{% endblock %}

{% block hrefmother %}href="{{url_for('femeas')}}"{% endblock %}
