{% extends 'usuario.html' %}

{% block title %}Aurora{% endblock %}

{% block flexmf %}class="flex-container-female"{% endblock %}

{% block imgpet1 %}src="../static/img/aurora/aurora-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/aurora/aurora-img2.png"{% endblock %}

{% block nomepet %}Aurora Boreal{% endblock %}
{% block tipopet %}Fêmea{% endblock %}
{% block idadepet %}2 anos{% endblock %}
{% block alturapet %}28 cm{% endblock %}
{% block racapet %}Beagle{% endblock %}
{% block corpet %}Tricolor{% endblock %}
{% block pelagempet %}Curta{% endblock %}


{% block descricaopet %} Olá, sou a Aurora, uma Beagle cheia de alegria com 2 anos de idade! Adoro farejar tudo ao meu redor, especialmente durante nossos passeios. Sou amigável, carinhosa e estou sempre pronta para brincar. Estou em busca de amigos peludos para compartilhar minhas travessuras e momentos fofos.{% endblock %}

{% block cidade %}Taubaté{% endblock %}
{% block tutor %}Carolina Oliveira{% endblock %}
{% block telefone %}(12) 99944-4499{% endblock %}
{% block email %}carolina.oliveira-9854@gmail.com{% endblock %}

{% block hrefmother %}href="{{url_for('femeas')}}"{% endblock %} 
