{% extends 'usuario.html' %}

{% block title %}Robin{% endblock %}

{% block flexmf %}class="flex-container-male"{% endblock %}

{% block imgpet1 %}src="../static/img/robin/robin-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/robin/robin-img2.png"{% endblock %}

{% block nomepet %}Robin Williams{% endblock %}
{% block tipopet %}Macho{% endblock %}
{% block idadepet %}4 anos{% endblock %}
{% block alturapet %}40 cm{% endblock %}
{% block racapet %}Doberman{% endblock %}
{% block corpet %}Preto{% endblock %}
{% block pelagempet %}Curta{% endblock %}


{% block descricaopet %} Olá, sou o Rob, um Doberman de 4 anos cheio de elegância e energia. Adoro exercícios, seja correndo no parque ou brincando de pegar a bolinha. Sou leal, protetor e estou em busca de amigos caninos para compartilhar momentos divertidos e humanos que entendam a verdadeira essência de um Doberman.{% endblock %}

{% block cidade %}Caçapava{% endblock %}
{% block tutor %}Liliam Cardoso{% endblock %}
{% block telefone %}(12) 91133-8866{% endblock %}
{% block email %}liliam.cardoso-4178@outlook.com{% endblock %}

{% block hrefmother %}href="{{url_for('machos')}}"{% endblock %} 
