{% extends 'usuario.html' %}

{% block title %}Luke{% endblock %}

{% block flexmf %}class="flex-container-male"{% endblock %}

{% block imgpet1 %}src="../static/img/luke/luke-img1.png"{% endblock %}
{% block imgpet2 %}src="../static/img/luke/luke-img2.png"{% endblock %}

{% block nomepet %}Luke Skywalker{% endblock %}
{% block tipopet %}Macho{% endblock %}
{% block idadepet %}4 anos{% endblock %}
{% block alturapet %}35 cm{% endblock %}
{% block racapet %}Golden retriever{% endblock %}
{% block corpet %}Dourado Claro{% endblock %}
{% block pelagempet %}Média{% endblock %}


{% block descricaopet %}Oi, sou o Luke, um labrador animado de 3 anos! Amo correr no parque, brincar de pegar a bolinha e, é claro, dar muitos lambeijos. Sou amigável, adoro fazer novos amigos peludos e humanos.{% endblock %}

{% block cidade %}Jacareí{% endblock %}
{% block tutor %}Ana Claudia{% endblock %}
{% block telefone %}(12) 95577-8822{% endblock %}
{% block email %}ana.claudia-1845@gmail.com{% endblock %}

{% block hrefmother %}href="{{url_for('machos')}}"{% endblock %} 
